<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/x-icon" href="/wordle/favicon.svg">
	<title>42 Wordle - homepage</title>
	<link rel="stylesheet" href="/home/home.css">
</head>
<body>
	<h1>{{__ "title"}}</h1>

	<div class="user-section">
		{{#if user_data}}
			<img src="{{user_data.image}}" alt="Profile picture">
			<p>{{__ "welcome"}}{{user_data.name}}!</p>
		{{else}}
			<a href="{{login_url}}" class="login-btn">{{__ "login_to_play"}}</a>
		{{/if}}
	</div>

	{{#if user_data}}
		<div class="games-section">
			<h2 class="game-title">{{__ "wordle"}}</h2>

			<div class="wordle-modes">
				<a href="/wordle?mode=normal" class="mode-card normal">
					<div class="mode-name">{{__ "normal_mode"}}</div>
					<div class="mode-description">{{__ "normal_mode_desc"}}</div>
				</a>

				<a href="/wordle?mode=hard" class="mode-card hard">
					<div class="mode-name">{{__ "hard_mode"}}</div>
					<div class="mode-description">{{__ "hard_mode_desc"}}</div>
					<div class="mode-description-temp">{{__ "hard_mode_desc_plus"}}</div>
				</a>
			</div>
		</div>
	{{/if}}

	<details class="how-to-play" id="howToPlay">
		<summary>{{__ "how_to_play"}}</summary>
		<div class="rules-content">
			<div class="rule">• {{__ "rules.p1"}}</div>
			<div class="rule">• {{__ "rules.p2"}}</div>
			<div class="rule">• {{__ "rules.p3"}}</div>
			<div class="rule">• {{__ "rules.p4"}}</div>
			<div class="rule">• {{__ "rules.p5"}}</div>
			<div class="rule">• {{__ "rules.p6"}}</div>
		</div>
	</details>

	<script src="/home.js"></script>
</body>
</html>
